<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sida.dcloud.system.dao.SysAreaMapper" >
  <resultMap id="SysAreaResultMap" type="com.sida.dcloud.system.po.SysArea" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="updated_user" property="updatedUser" jdbcType="VARCHAR" />
    <result column="disable" property="disable" jdbcType="BIT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="org_path" property="orgPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="SysArea_Column_List" >
    id, org_id, created_at, last_updated, created_user, updated_user, disable, delete_flag, 
    name, code, status, description, org_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="SysAreaResultMap" parameterType="java.lang.String" >
    select 
    <include refid="SysArea_Column_List" />
    from sys_area
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_area
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.sida.dcloud.system.po.SysArea" >
    insert into sys_area (id, org_id, created_at, last_updated, created_user, updated_user, 
      disable, delete_flag, name, code, status, description, org_path
      )
    values (#{id}, #{orgId}, #{createdAt}, #{lastUpdated}, #{createdUser}, #{updatedUser}, 
      #{disable}, #{deleteFlag}, #{name}, #{code}, #{status}, #{description}, #{orgPath}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sida.dcloud.system.po.SysArea" >
    insert into sys_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="updatedUser != null" >
        updated_user,
      </if>
      <if test="disable != null" >
        disable,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="orgPath != null" >
        org_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orgId != null" >
        #{orgId},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        #{createdUser},
      </if>
      <if test="updatedUser != null" >
        #{updatedUser},
      </if>
      <if test="disable != null" >
        #{disable},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="orgPath != null" >
        #{orgPath},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sida.dcloud.system.po.SysArea" >
    update sys_area
    <set >
      <if test="orgId != null" >
        org_id = #{orgId},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser},
      </if>
      <if test="updatedUser != null" >
        updated_user = #{updatedUser},
      </if>
      <if test="disable != null" >
        disable = #{disable},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="orgPath != null" >
        org_path = #{orgPath},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sida.dcloud.system.po.SysArea" >
    update sys_area
    set org_id = #{orgId},
      created_at = #{createdAt},
      last_updated = #{lastUpdated},
      created_user = #{createdUser},
      updated_user = #{updatedUser},
      disable = #{disable},
      delete_flag = #{deleteFlag},
      name = #{name},
      code = #{code},
      status = #{status},
      description = #{description},
      org_path = #{orgPath}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="orgId != null and orgId != ''" >
        org_id = #{orgId}
      </if>
      <if test="createdAt != null" >
        AND created_at = #{createdAt}
      </if>
      <if test="lastUpdated != null" >
        AND last_updated = #{lastUpdated}
      </if>
      <if test="createdUser != null and createdUser != ''" >
        AND created_user = #{createdUser}
      </if>
      <if test="updatedUser != null and updatedUser != ''" >
        AND updated_user = #{updatedUser}
      </if>
      <if test="disable != null" >
        AND disable = #{disable}
      </if>
      <if test="deleteFlag != null" >
        AND delete_flag = #{deleteFlag}
      </if>
      <if test="name != null and name != ''" >
        AND name = #{name}
      </if>
      <if test="code != null and code != ''" >
        AND code = #{code}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
      <if test="description != null and description != ''" >
        AND description = #{description}
      </if>
      <if test="orgPath != null and orgPath != ''" >
        AND org_path = #{orgPath}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.sida.dcloud.system.po.SysArea" resultMap="SysAreaResultMap" >
    select 
    <include refid="SysArea_Column_List" />
    from sys_area
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update sys_area
    <set >
      <if test="po.orgId != null" >
        org_id = #{po.orgId},
      </if>
      <if test="po.createdAt != null" >
        created_at = #{po.createdAt},
      </if>
      <if test="po.lastUpdated != null" >
        last_updated = #{po.lastUpdated},
      </if>
      <if test="po.createdUser != null" >
        created_user = #{po.createdUser},
      </if>
      <if test="po.updatedUser != null" >
        updated_user = #{po.updatedUser},
      </if>
      <if test="po.disable != null" >
        disable = #{po.disable},
      </if>
      <if test="po.deleteFlag != null" >
        delete_flag = #{po.deleteFlag},
      </if>
      <if test="po.name != null" >
        name = #{po.name},
      </if>
      <if test="po.code != null" >
        code = #{po.code},
      </if>
      <if test="po.status != null" >
        status = #{po.status},
      </if>
      <if test="po.description != null" >
        description = #{po.description},
      </if>
      <if test="po.orgPath != null" >
        org_path = #{po.orgPath},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!--自定义sql-->
  <resultMap id="SysAreaVoResultMap" type="com.sida.dcloud.system.vo.SysAreaVo" extends="SysAreaResultMap">
    <result column="store_num" property="storeNum" jdbcType="BIGINT"/>
  </resultMap>
  <select id="findVoList" parameterType="com.sida.dcloud.system.po.SysArea" resultMap="SysAreaVoResultMap" >
    select
    t.id, t.org_id, t.created_at, t.last_updated, t.created_user, t.updated_user, t.disable, t.delete_flag,
    t.name, t.code, t.status, t.description, t.org_path, count(o.id) store_num
    from sys_area t
    left join sys_org o on t.id = o.parent_id
    where t.disable = false and t.delete_flag = false
    <if test="name != null and name != ''" >
      AND t.name like concat('%',#{name},'%')
    </if>
    <if test="status != null" >
      AND t.status = #{status}
    </if>
    group by t.id
    ORDER BY t.created_at desc
  </select>

  <select id="findByIdIn" resultMap="SysAreaResultMap" >
    select *
    from sys_area
    where 1 = 2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </select>

  <insert id="insertAreaByNewOrg" parameterType="java.lang.Integer" >
    insert into sys_area(id,org_id,created_at,last_updated,created_user,updated_user,
                        disable,delete_flag,name,code,status,description,org_path)
    select id,org_id,created_at,last_updated,created_user,updated_user,
    disable,delete_flag,name,code,delete_flag status,description,id_path
    from sys_org
    where type = #{type}
    and id not in (select id from sys_area)
  </insert>

  <update id="updateAreaByModifyOrg">
      update sys_area
      <trim prefix="set" suffixOverrides=",">
        <trim prefix=" org_id = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.orgId != null ">
              when id = #{org.id} then #{org.orgId}
            </if>
          </foreach>
        </trim>
        <trim prefix=" created_at = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.createdAt != null ">
              when id = #{org.id} then #{org.createdAt}
            </if>
          </foreach>
        </trim>
        <trim prefix=" last_updated = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.lastUpdated != null ">
              when id = #{org.id} then #{org.lastUpdated}
            </if>
          </foreach>
        </trim>
        <trim prefix=" created_user = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.createdUser != null ">
              when id = #{org.id} then #{org.createdUser}
            </if>
          </foreach>
        </trim>
        <trim prefix=" updated_user = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.updatedUser != null ">
              when id = #{org.id} then #{org.updatedUser}
            </if>
          </foreach>
        </trim>
        <trim prefix=" disable = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.disable != null ">
              when id = #{org.id} then #{org.disable}
            </if>
          </foreach>
        </trim>
        <trim prefix=" delete_flag = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.deleteFlag != null ">
              when id = #{org.id} then #{org.deleteFlag}
            </if>
          </foreach>
        </trim>
        <trim prefix=" name = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.name != null ">
              when id = #{org.id} then #{org.name}
            </if>
          </foreach>
        </trim>
        <trim prefix=" code = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.code != null ">
              when id = #{org.id} then #{org.code}
            </if>
          </foreach>
        </trim>
        <trim prefix=" status = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.deleteFlag != null ">
              when id = #{org.id} then #{org.deleteFlag}
            </if>
          </foreach>
        </trim>
        <trim prefix=" description = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.description != null ">
              when id = #{org.id} then #{org.description}
            </if>
          </foreach>
        </trim>
        <trim prefix=" org_path = case " suffix=" end," >
          <foreach collection="orgList" item="org" open="" close="" separator="" >
            <if test="org.idPath != null ">
              when id = #{org.id} then #{org.idPath}
            </if>
          </foreach>
        </trim>
      </trim>
      where
      <foreach collection="orgList" item="org" open="id in (" close=")" separator=",">
        #{org.id}
      </foreach>
  </update>

  <update id="deleteAll" parameterType="com.sida.dcloud.system.po.SysArea" >
    update sys_area
    set delete_flag = true
  </update>

  <insert id="insertWithOrgs" >
    insert into sys_area(id,org_id,created_at,last_updated,created_user,updated_user,
    disable,delete_flag,name,code,status,description,org_path)
    VALUES
    <foreach collection="orgList" item="po" open="" close="" separator="," >
      (#{po.id}, #{po.orgId}, #{po.createdAt}, #{po.lastUpdated}, #{po.createdUser}, #{po.updatedUser},
      #{po.disable}, #{po.deleteFlag}, #{po.name}, #{po.code}, #{po.deleteFlag}, #{po.description}, #{po.idPath})
    </foreach>
  </insert>

  <update id="deleteByIds" >
    update sys_area
    set delete_flag = true
    where 1 = 2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <delete id="removeAll" >
    delete a from sys_area a
    where exists(select 1 from sys_org o where a.id = o.id and o.third_party_id is not null and o.third_party_id != '')
  </delete>

  <insert id="insertWithAllOrgs" >
    insert into sys_area(id,org_id,created_at,last_updated,created_user,updated_user,
    disable,delete_flag,name,code,status,description,org_path)
    select id,org_id,created_at,last_updated,created_user,updated_user,
    disable,delete_flag,name,code,disable status,description,id_path
    from sys_org
    where type = 2 and third_party_id is not null and third_party_id != ''
  </insert>
</mapper>