<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sida.dcloud.system.dao.SysExaminationhallMapper" >
  <resultMap id="SysExaminationhallResultMap" type="com.sida.dcloud.system.po.SysExaminationhall" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="updated_user" property="updatedUser" jdbcType="VARCHAR" />
    <result column="disable" property="disable" jdbcType="BIT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="subject_id" property="subjectId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="SysExaminationhall_Column_List" >
    id, org_id, created_at, last_updated, created_user, updated_user, disable, delete_flag, 
    name, address, status, subject_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="SysExaminationhallResultMap" parameterType="java.lang.String" >
    select 
    <include refid="SysExaminationhall_Column_List" />
    from sys_examinationhall
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_examinationhall
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.sida.dcloud.system.po.SysExaminationhall" >
    insert into sys_examinationhall (id, org_id, created_at, last_updated, created_user, updated_user, 
      disable, delete_flag, name, address, status, subject_id)
    values (#{id}, #{orgId}, #{createdAt}, #{lastUpdated}, #{createdUser}, #{updatedUser}, 
      #{disable}, #{deleteFlag}, #{name}, #{address}, #{status}, #{subjectId})
  </insert>
  <insert id="insertSelective" parameterType="com.sida.dcloud.system.po.SysExaminationhall" >
    insert into sys_examinationhall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="updatedUser != null" >
        updated_user,
      </if>
      <if test="disable != null" >
        disable,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orgId != null" >
        #{orgId},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        #{createdUser},
      </if>
      <if test="updatedUser != null" >
        #{updatedUser},
      </if>
      <if test="disable != null" >
        #{disable},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="address != null" >
        #{address},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="subjectId != null" >
        #{subjectId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sida.dcloud.system.po.SysExaminationhall" >
    update sys_examinationhall
    <set >
      <if test="orgId != null" >
        org_id = #{orgId},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser},
      </if>
      <if test="updatedUser != null" >
        updated_user = #{updatedUser},
      </if>
      <if test="disable != null" >
        disable = #{disable},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sida.dcloud.system.po.SysExaminationhall" >
    update sys_examinationhall
    set org_id = #{orgId},
      created_at = #{createdAt},
      last_updated = #{lastUpdated},
      created_user = #{createdUser},
      updated_user = #{updatedUser},
      disable = #{disable},
      delete_flag = #{deleteFlag},
      name = #{name},
      address = #{address},
      status = #{status},
      subject_id = #{subjectId}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="orgId != null and orgId != ''" >
        org_id = #{orgId}
      </if>
      <if test="createdAt != null" >
        AND created_at = #{createdAt}
      </if>
      <if test="lastUpdated != null" >
        AND last_updated = #{lastUpdated}
      </if>
      <if test="createdUser != null and createdUser != ''" >
        AND created_user = #{createdUser}
      </if>
      <if test="updatedUser != null and updatedUser != ''" >
        AND updated_user = #{updatedUser}
      </if>
      <if test="disable != null" >
        AND disable = #{disable}
      </if>
      <if test="deleteFlag != null" >
        AND delete_flag = #{deleteFlag}
      </if>
      <if test="name != null and name != ''" >
        AND name = #{name}
      </if>
      <if test="address != null and address != ''" >
        AND address = #{address}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
      <if test="subjectId != null and subjectId != ''" >
        AND subject_id = #{subjectId}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.sida.dcloud.system.po.SysExaminationhall" resultMap="SysExaminationhallResultMap" >
    select 
    <include refid="SysExaminationhall_Column_List" />
    from sys_examinationhall
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update sys_examinationhall
    <set >
      <if test="po.orgId != null" >
        org_id = #{po.orgId},
      </if>
      <if test="po.createdAt != null" >
        created_at = #{po.createdAt},
      </if>
      <if test="po.lastUpdated != null" >
        last_updated = #{po.lastUpdated},
      </if>
      <if test="po.createdUser != null" >
        created_user = #{po.createdUser},
      </if>
      <if test="po.updatedUser != null" >
        updated_user = #{po.updatedUser},
      </if>
      <if test="po.disable != null" >
        disable = #{po.disable},
      </if>
      <if test="po.deleteFlag != null" >
        delete_flag = #{po.deleteFlag},
      </if>
      <if test="po.name != null" >
        name = #{po.name},
      </if>
      <if test="po.address != null" >
        address = #{po.address},
      </if>
      <if test="po.status != null" >
        status = #{po.status},
      </if>
      <if test="po.subjectId != null" >
        subject_id = #{po.subjectId},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>
</mapper>