<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sida.dcloud.system.dao.SysGlobalVariableMapper" >
  <resultMap id="SysGlobalVariableResultMap" type="com.sida.dcloud.system.po.SysGlobalVariable" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="updated_user" property="updatedUser" jdbcType="VARCHAR" />
    <result column="disable" property="disable" jdbcType="BIT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="SysGlobalVariable_Column_List" >
    id, org_id, created_at, last_updated, created_user, updated_user, disable, delete_flag, 
    code, value, comment, model, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="SysGlobalVariableResultMap" parameterType="java.lang.String" >
    select 
    <include refid="SysGlobalVariable_Column_List" />
    from sys_global_variable
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_global_variable
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.sida.dcloud.system.po.SysGlobalVariable" >
    insert into sys_global_variable (id, org_id, created_at, last_updated, created_user, updated_user, 
      disable, delete_flag, code, value, comment, model, version)
    values (#{id}, #{orgId}, #{createdAt}, #{lastUpdated}, #{createdUser}, #{updatedUser}, 
      #{disable}, #{deleteFlag}, #{code}, #{value}, #{comment}, #{model}, #{version})
  </insert>
  <insert id="insertSelective" parameterType="com.sida.dcloud.system.po.SysGlobalVariable" >
    insert into sys_global_variable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="updatedUser != null" >
        updated_user,
      </if>
      <if test="disable != null" >
        disable,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orgId != null" >
        #{orgId},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        #{createdUser},
      </if>
      <if test="updatedUser != null" >
        #{updatedUser},
      </if>
      <if test="disable != null" >
        #{disable},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="value != null" >
        #{value},
      </if>
      <if test="comment != null" >
        #{comment},
      </if>
      <if test="model != null" >
        #{model},
      </if>
      <if test="version != null" >
        #{version},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sida.dcloud.system.po.SysGlobalVariable" >
    update sys_global_variable
    <set >
      <if test="orgId != null" >
        org_id = #{orgId},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser},
      </if>
      <if test="updatedUser != null" >
        updated_user = #{updatedUser},
      </if>
      <if test="disable != null" >
        disable = #{disable},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="value != null" >
        value = #{value},
      </if>
      <if test="comment != null" >
        comment = #{comment},
      </if>
      <if test="model != null" >
        model = #{model},
      </if>
      <if test="version != null" >
        version = #{version},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sida.dcloud.system.po.SysGlobalVariable" >
    update sys_global_variable
    set org_id = #{orgId},
      created_at = #{createdAt},
      last_updated = #{lastUpdated},
      created_user = #{createdUser},
      updated_user = #{updatedUser},
      disable = #{disable},
      delete_flag = #{deleteFlag},
      code = #{code},
      value = #{value},
      comment = #{comment},
      model = #{model},
      version = #{version}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="orgId != null and orgId != ''" >
        org_id = #{orgId}
      </if>
      <if test="createdAt != null" >
        AND created_at = #{createdAt}
      </if>
      <if test="lastUpdated != null" >
        AND last_updated = #{lastUpdated}
      </if>
      <if test="createdUser != null and createdUser != ''" >
        AND created_user = #{createdUser}
      </if>
      <if test="updatedUser != null and updatedUser != ''" >
        AND updated_user = #{updatedUser}
      </if>
      <if test="disable != null" >
        AND disable = #{disable}
      </if>
      <if test="deleteFlag != null" >
        AND delete_flag = #{deleteFlag}
      </if>
      <if test="code != null and code != ''" >
        AND code = #{code}
      </if>
      <if test="value != null and value != ''" >
        AND value = #{value}
      </if>
      <if test="comment != null and comment != ''" >
        AND comment = #{comment}
      </if>
      <if test="model != null and model != ''" >
        AND model = #{model}
      </if>
      <if test="version != null" >
        AND version = #{version}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.sida.dcloud.system.po.SysGlobalVariable" resultMap="SysGlobalVariableResultMap" >
    select 
    <include refid="SysGlobalVariable_Column_List" />
    from sys_global_variable
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update sys_global_variable
    <set >
      <if test="po.orgId != null" >
        org_id = #{po.orgId},
      </if>
      <if test="po.createdAt != null" >
        created_at = #{po.createdAt},
      </if>
      <if test="po.lastUpdated != null" >
        last_updated = #{po.lastUpdated},
      </if>
      <if test="po.createdUser != null" >
        created_user = #{po.createdUser},
      </if>
      <if test="po.updatedUser != null" >
        updated_user = #{po.updatedUser},
      </if>
      <if test="po.disable != null" >
        disable = #{po.disable},
      </if>
      <if test="po.deleteFlag != null" >
        delete_flag = #{po.deleteFlag},
      </if>
      <if test="po.code != null" >
        code = #{po.code},
      </if>
      <if test="po.value != null" >
        value = #{po.value},
      </if>
      <if test="po.comment != null" >
        comment = #{po.comment},
      </if>
      <if test="po.model != null" >
        model = #{po.model},
      </if>
      <if test="po.version != null" >
        version = #{po.version},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>
</mapper>