<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sida.dcloud.system.dao.SysRegionMapper" >
  <resultMap id="SysRegionResultMap" type="com.sida.dcloud.auth.po.SysRegion" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="updated_user" property="updatedUser" jdbcType="VARCHAR" />
    <result column="disable" property="disable" jdbcType="BIT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="name_path" property="namePath" jdbcType="VARCHAR" />
    <result column="post_code" property="postCode" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="code_path" property="codePath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="SysRegion_Column_List" >
    id, org_id, created_at, last_updated, created_user, updated_user, disable, delete_flag, 
    code, name, level, parent_id, path, name_path, post_code, sort, code_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="SysRegionResultMap" parameterType="java.lang.String" >
    select 
    <include refid="SysRegion_Column_List" />
    from sys_region
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_region
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.sida.dcloud.auth.po.SysRegion" >
    insert into sys_region (id, org_id, created_at, last_updated, created_user, updated_user, 
      disable, delete_flag, code, name, level, parent_id, path, name_path, post_code, sort, code_path
      )
    values (#{id}, #{orgId}, #{createdAt}, #{lastUpdated}, #{createdUser}, #{updatedUser}, 
      #{disable}, #{deleteFlag}, #{code}, #{name}, #{level}, #{parentId}, #{path}, #{namePath}, #{postCode}, #{sort}, #{codePath}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sida.dcloud.auth.po.SysRegion" >
    insert into sys_region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="updatedUser != null" >
        updated_user,
      </if>
      <if test="disable != null" >
        disable,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="namePath != null" >
        name_path,
      </if>
      <if test="postCode != null" >
        post_code,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="codePath != null" >
        code_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orgId != null" >
        #{orgId},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        #{createdUser},
      </if>
      <if test="updatedUser != null" >
        #{updatedUser},
      </if>
      <if test="disable != null" >
        #{disable},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="level != null" >
        #{level},
      </if>
      <if test="parentId != null" >
        #{parentId},
      </if>
      <if test="path != null" >
        #{path},
      </if>
      <if test="namePath != null" >
        #{namePath},
      </if>
      <if test="postCode != null" >
        #{postCode},
      </if>
      <if test="sort != null" >
        #{sort},
      </if>
      <if test="codePath != null" >
        #{codePath},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sida.dcloud.auth.po.SysRegion" >
    update sys_region
    <set >
      <if test="orgId != null" >
        org_id = #{orgId},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser},
      </if>
      <if test="updatedUser != null" >
        updated_user = #{updatedUser},
      </if>
      <if test="disable != null" >
        disable = #{disable},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="level != null" >
        level = #{level},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId},
      </if>
      <if test="path != null" >
        path = #{path},
      </if>
      <if test="namePath != null" >
        name_path = #{namePath},
      </if>
      <if test="postCode != null" >
        post_code = #{postCode},
      </if>
      <if test="sort != null" >
        sort = #{sort},
      </if>
      <if test="codePath != null" >
        code_path = #{codePath},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sida.dcloud.auth.po.SysRegion" >
    update sys_region
    set org_id = #{orgId},
      created_at = #{createdAt},
      last_updated = #{lastUpdated},
      created_user = #{createdUser},
      updated_user = #{updatedUser},
      disable = #{disable},
      delete_flag = #{deleteFlag},
      code = #{code},
      name = #{name},
      level = #{level},
      parent_id = #{parentId},
      path = #{path},
      name_path = #{namePath},
      post_code = #{postCode},
      sort = #{sort},
      code_path = #{codePath}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="orgId != null and orgId != ''" >
        org_id = #{orgId}
      </if>
      <if test="createdAt != null" >
        AND created_at = #{createdAt}
      </if>
      <if test="lastUpdated != null" >
        AND last_updated = #{lastUpdated}
      </if>
      <if test="createdUser != null and createdUser != ''" >
        AND created_user = #{createdUser}
      </if>
      <if test="updatedUser != null and updatedUser != ''" >
        AND updated_user = #{updatedUser}
      </if>
      <if test="disable != null" >
        AND disable = #{disable}
      </if>
      <if test="deleteFlag != null" >
        AND delete_flag = #{deleteFlag}
      </if>
      <if test="code != null and code != ''" >
        AND code = #{code}
      </if>
      <if test="name != null and name != ''" >
        AND name = #{name}
      </if>
      <if test="level != null and level != ''" >
        AND level = #{level}
      </if>
      <if test="parentId != null and parentId != ''" >
        AND parent_id = #{parentId}
      </if>
      <if test="path != null and path != ''" >
        AND path = #{path}
      </if>
      <if test="namePath != null and namePath != ''" >
        AND name_path = #{namePath}
      </if>
      <if test="postCode != null and postCode != ''" >
        AND post_code = #{postCode}
      </if>
      <if test="sort != null" >
        AND sort = #{sort}
      </if>
      <if test="codePath != null" >
        AND code_path = #{codePath}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.sida.dcloud.auth.po.SysRegion" resultMap="SysRegionResultMap" >
    select 
    <include refid="SysRegion_Column_List" />
    from sys_region
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update sys_region
    <set >
      <if test="po.orgId != null" >
        org_id = #{po.orgId},
      </if>
      <if test="po.createdAt != null" >
        created_at = #{po.createdAt},
      </if>
      <if test="po.lastUpdated != null" >
        last_updated = #{po.lastUpdated},
      </if>
      <if test="po.createdUser != null" >
        created_user = #{po.createdUser},
      </if>
      <if test="po.updatedUser != null" >
        updated_user = #{po.updatedUser},
      </if>
      <if test="po.disable != null" >
        disable = #{po.disable},
      </if>
      <if test="po.deleteFlag != null" >
        delete_flag = #{po.deleteFlag},
      </if>
      <if test="po.code != null" >
        code = #{po.code},
      </if>
      <if test="po.name != null" >
        name = #{po.name},
      </if>
      <if test="po.level != null" >
        level = #{po.level},
      </if>
      <if test="po.parentId != null" >
        parent_id = #{po.parentId},
      </if>
      <if test="po.path != null" >
        path = #{po.path},
      </if>
      <if test="po.namePath != null" >
        name_path = #{po.namePath},
      </if>
      <if test="po.postCode != null" >
        post_code = #{po.postCode},
      </if>
      <if test="po.sort != null" >
        sort = #{po.sort},
      </if>
      <if test="po.codePath != null" >
        code_path = #{po.codePath},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!--自定义sql-->
  <update id="deleteById" >
    update sys_region
    set delete_flag = 1
    where path like concat(#{id},',%')
          or path like concat('%,',#{id},',%')
  </update>
  <select id="findCitys" resultMap="SysRegionResultMap" >
    select
    id,code,name,level,parent_id
    from sys_region
    where delete_flag = false and disable = false
    and level = 'CITY'
    order by sort asc
  </select>
  <select id="findProvinces" resultMap="SysRegionResultMap" >
    select
    id,code,name
    from sys_region
    where delete_flag = false and disable = false
    and level = 'PROVINCE'
    order by sort asc
  </select>

  <insert id="batchInsert" parameterType="java.util.List" >
    insert into sys_region (id, org_id, created_at, last_updated, created_user, updated_user,
    disable, delete_flag, code, name, level, parent_id, path, name_path, post_code, sort, code_path
    )
    values
    <foreach collection="list" item="po" open="" close="" separator="," >
      ( #{po.id}, #{po.orgId}, #{po.createdAt}, #{po.lastUpdated}, #{po.createdUser}, #{po.updatedUser},
      #{po.disable}, #{po.deleteFlag}, #{po.code}, #{po.name}, #{po.level}, #{po.parentId}, #{po.path}, #{po.namePath}, #{po.postCode}, #{po.sort}, #{po.codePath}
      )
    </foreach>
  </insert>

  <delete id="removeAll" >
    delete from sys_region
  </delete>

  <select id="findNameListByCodeList" parameterType="java.util.List" resultMap="SysRegionResultMap" >
    select
    code,name
    from sys_region
    where 1=2
    <if test="codeList != null and codeList.size > 0" >
      <foreach collection="codeList" item="listItem" open="or code in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </select>

  <!-- 新增2018-10-09 -->
  <resultMap id="SysRegionSingleLayerDtoResultMap" type="com.sida.dcloud.system.dto.SysRegionSingleLayerDto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="post_code" property="postCode" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="capital_pinyin" property="capitalPinyin" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findSysRegionSingleLayerDtoByLevel" parameterType="java.util.List" resultMap="SysRegionSingleLayerDtoResultMap" >
    select id,code,name,level,post_code,pinyin,capital_pinyin from sys_region
    where delete_flag = 0 and disable = 0 and level = UPPER(#{level})
    order by capital_pinyin asc, pinyin asc
  </select>
  <update id="updateSysRegionPinyin">
    update sys_region set pinyin = #{po.pinyin}, capital_pinyin = #{po.capitalPinyin} where id = #{po.id}
  </update>
</mapper>