<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sida.dcloud.auth.dao.SysUserMapper" >
  <resultMap id="SysUserResultMap" type="com.sida.dcloud.auth.po.SysUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="updated_user" property="updatedUser" jdbcType="VARCHAR" />
    <result column="disable" property="disable" jdbcType="BIT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="valid_date" property="validDate" jdbcType="TIMESTAMP" />
    <result column="locked" property="locked" jdbcType="BIT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="SysUser_Column_List" >
    id, org_id, created_at, last_updated, created_user, updated_user, disable, delete_flag, 
    account, password, name, code, alias, email, valid_date, locked, mobile, description, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="SysUserResultMap" parameterType="java.lang.String" >
    select 
    <include refid="SysUser_Column_List" />
    from sys_user
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.sida.dcloud.auth.po.SysUser" >
    insert into sys_user (id, org_id, created_at, last_updated, created_user, updated_user, 
      disable, delete_flag, account, password, name, code, alias, 
      email, valid_date, locked, mobile, description, status)
    values (#{id}, #{orgId}, #{createdAt}, #{lastUpdated}, #{createdUser}, #{updatedUser}, 
      #{disable}, #{deleteFlag}, #{account}, #{password}, #{name}, #{code}, #{alias}, 
      #{email}, #{validDate}, #{locked}, #{mobile}, #{description}, #{status})
  </insert>
  <insert id="insertSelective" parameterType="com.sida.dcloud.auth.po.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="updatedUser != null" >
        updated_user,
      </if>
      <if test="disable != null" >
        disable,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="validDate != null" >
        valid_date,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orgId != null" >
        #{orgId},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        #{createdUser},
      </if>
      <if test="updatedUser != null" >
        #{updatedUser},
      </if>
      <if test="disable != null" >
        #{disable},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag},
      </if>
      <if test="account != null" >
        #{account},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="alias != null" >
        #{alias},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="validDate != null" >
        #{validDate},
      </if>
      <if test="locked != null" >
        #{locked},
      </if>
      <if test="mobile != null" >
        #{mobile},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="status != null" >
        #{status},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sida.dcloud.auth.po.SysUser" >
    update sys_user
    <set >
      <if test="orgId != null" >
        org_id = #{orgId},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser},
      </if>
      <if test="updatedUser != null" >
        updated_user = #{updatedUser},
      </if>
      <if test="disable != null" >
        disable = #{disable},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag},
      </if>
      <if test="account != null" >
        account = #{account},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="alias != null" >
        alias = #{alias},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="validDate != null" >
        valid_date = #{validDate},
      </if>
      <if test="locked != null" >
        locked = #{locked},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sida.dcloud.auth.po.SysUser" >
    update sys_user
    set org_id = #{orgId},
      created_at = #{createdAt},
      last_updated = #{lastUpdated},
      created_user = #{createdUser},
      updated_user = #{updatedUser},
      disable = #{disable},
      delete_flag = #{deleteFlag},
      account = #{account},
      password = #{password},
      name = #{name},
      code = #{code},
      alias = #{alias},
      email = #{email},
      valid_date = #{validDate},
      locked = #{locked},
      mobile = #{mobile},
      description = #{description},
      status = #{status}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="orgId != null and orgId != ''" >
        org_id = #{orgId}
      </if>
      <if test="createdAt != null" >
        AND created_at = #{createdAt}
      </if>
      <if test="lastUpdated != null" >
        AND last_updated = #{lastUpdated}
      </if>
      <if test="createdUser != null and createdUser != ''" >
        AND created_user = #{createdUser}
      </if>
      <if test="updatedUser != null and updatedUser != ''" >
        AND updated_user = #{updatedUser}
      </if>
      <if test="disable != null" >
        AND disable = #{disable}
      </if>
      <if test="deleteFlag != null" >
        AND delete_flag = #{deleteFlag}
      </if>
      <if test="account != null and account != ''" >
        AND account = #{account}
      </if>
      <if test="password != null and password != ''" >
        AND password = #{password}
      </if>
      <if test="name != null and name != ''" >
        AND name = #{name}
      </if>
      <if test="code != null and code != ''" >
        AND code = #{code}
      </if>
      <if test="alias != null and alias != ''" >
        AND alias = #{alias}
      </if>
      <if test="email != null and email != ''" >
        AND email = #{email}
      </if>
      <if test="validDate != null" >
        AND valid_date = #{validDate}
      </if>
      <if test="locked != null" >
        AND locked = #{locked}
      </if>
      <if test="mobile != null and mobile != ''" >
        AND mobile = #{mobile}
      </if>
      <if test="description != null and description != ''" >
        AND description = #{description}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.sida.dcloud.auth.po.SysUser" resultMap="SysUserResultMap" >
    select 
    <include refid="SysUser_Column_List" />
    from sys_user
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update sys_user
    <set >
      <if test="po.orgId != null" >
        org_id = #{po.orgId},
      </if>
      <if test="po.createdAt != null" >
        created_at = #{po.createdAt},
      </if>
      <if test="po.lastUpdated != null" >
        last_updated = #{po.lastUpdated},
      </if>
      <if test="po.createdUser != null" >
        created_user = #{po.createdUser},
      </if>
      <if test="po.updatedUser != null" >
        updated_user = #{po.updatedUser},
      </if>
      <if test="po.disable != null" >
        disable = #{po.disable},
      </if>
      <if test="po.deleteFlag != null" >
        delete_flag = #{po.deleteFlag},
      </if>
      <if test="po.account != null" >
        account = #{po.account},
      </if>
      <if test="po.password != null" >
        password = #{po.password},
      </if>
      <if test="po.name != null" >
        name = #{po.name},
      </if>
      <if test="po.code != null" >
        code = #{po.code},
      </if>
      <if test="po.alias != null" >
        alias = #{po.alias},
      </if>
      <if test="po.email != null" >
        email = #{po.email},
      </if>
      <if test="po.validDate != null" >
        valid_date = #{po.validDate},
      </if>
      <if test="po.locked != null" >
        locked = #{po.locked},
      </if>
      <if test="po.mobile != null" >
        mobile = #{po.mobile},
      </if>
      <if test="po.description != null" >
        description = #{po.description},
      </if>
      <if test="po.status != null" >
        status = #{po.status},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!--自定义sql-->
  <resultMap id="UserInfoResultMap" type="com.sida.dcloud.auth.vo.UserInfo" >
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="userAccount" property="userAccount" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="roleId" property="roleId" jdbcType="VARCHAR" />
    <result column="roleCode" property="roleCode" jdbcType="VARCHAR" />
    <result column="roleName" property="roleName" jdbcType="VARCHAR" />
    <result column="schoolId" property="schoolId" jdbcType="VARCHAR" />
    <result column="orgId" property="orgId" jdbcType="VARCHAR" />
    <result column="orgPath" property="orgPath" jdbcType="VARCHAR" />
    <result column="areaId" property="areaId" jdbcType="VARCHAR" />
    <result column="storeId" property="storeId" jdbcType="VARCHAR" />
    <result column="certId" property="certId" jdbcType="VARCHAR" />
    <result column="positionId" property="positionId" jdbcType="VARCHAR" />
    <result column="positionName" property="positionName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="idCardNum" property="idCardNum" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="SysUserVoResultMap" type="com.sida.dcloud.auth.vo.SysUserVo" extends="SysUserResultMap">
    <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
    <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
  </resultMap>


  <select id="selectUserByName" resultMap="SysUserResultMap" parameterType="java.lang.String" >
    select
    <include refid="SysUser_Column_List" />
    from sys_user
    where disable = false and delete_flag = false
    and status = false and account = #{username,jdbcType=VARCHAR}
  </select>

  <select id="selectUserByPhone" resultMap="SysUserResultMap" parameterType="java.lang.String" >
    select
    <include refid="SysUser_Column_List" />
    from sys_user
    where disable = false and delete_flag = false
     and (account = #{phone ,jdbcType=VARCHAR} or mobile = #{phone})
  </select>

  <select id="selectAll" resultMap="SysUserResultMap">
    select
    <include refid="SysUser_Column_List" />
    from sys_user
  </select>

  <select id="selectVoList" parameterType="com.sida.dcloud.auth.po.SysUser" resultMap="SysUserVoResultMap" >
    select
    u.id, u.created_at, u.account, u.password, u.name, u.status, r.id role_id, r.name role_name
    from sys_user u
    left join sys_user_role ur on u.id = ur.user_id
    left join sys_role r on r.id = ur.role_id
    WHERE u.disable = FALSE
    AND u.delete_flag = FALSE
    <if test="account != null and account != ''" >
      AND u.account LIKE concat('%',#{account},'%')
    </if>
    <if test="name != null and name != ''" >
      AND u.name like concat('%',#{name},'%')
    </if>
    <if test="status != null" >
      AND u.status = #{status}
    </if>
    <if test="orderField != null and orderField != ''" >
      ORDER BY u.${orderField}
      <if test="orderString != null and orderString != ''" >
        ${orderString}
      </if>
    </if>
  </select>

  <insert id="addUserRoleRela" >
    insert into sys_user_role (user_id, role_id)
    values (#{userId}, #{roleId})
  </insert>

  <delete id="deleteByUserId" parameterType="java.lang.String" >
    delete from sys_user_role
    where user_id = #{userId}
  </delete>

  <select id="getUserInfo" parameterType="java.lang.String" resultMap="UserInfoResultMap" >
    select u.id userId,u.account userAccount,u.name userName,
    r.id roleId,r.code roleCode,r.name roleName,
    e.phone phone,e.idcard_number idCardNum,e.photo avatar,e.status status,
    p.id positionId,p.name positionName,
    o.id orgId,o.id_path orgPath,o.org_id schoolId
    from sys_user u
    left join sys_user_role ur on u.id = ur.user_id
    left join sys_role r on ur.role_id = r.id
    left join sys_employee e on u.id = e.id
    left join sys_employee_position ep on e.id = ep.employee_id
    left join sys_position p on ep.position_id = p.id
    left join sys_employee_org eo on e.id = eo.employee_id
    left join sys_org o on eo.org_id = o.id
    where u.id = #{userId}
    group by u.id
  </select>



  <select id="selectUserByFaceId" resultMap="SysUserResultMap" parameterType="java.lang.String" >
    select
    <include refid="SysUser_Column_List" />
    from sys_user
    where face_id = #{faceId,jdbcType=VARCHAR}
  </select>
</mapper>