<?xml version="1.0" encoding="UTF-8" ?>     
<!DOCTYPE configuration     
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mapper/config/mybatis.properties" />
	<typeAliases>
	    <package name="com.sida.dcloud.schedule.po"/>
	</typeAliases>
	<plugins>  
        <plugin interceptor="com.sida.xiruo.xframework.util.PageHelper"></plugin>
    </plugins>
</configuration> 