<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sida.dcloud.operation.dao.CompanyImagesMapper" >
  <resultMap id="CompanyImagesResultMap" type="com.sida.dcloud.operation.po.CompanyImages" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="disable" property="disable" jdbcType="BIT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="red_string1" property="redString1" jdbcType="VARCHAR" />
    <result column="red_string2" property="redString2" jdbcType="VARCHAR" />
    <result column="red_string3" property="redString3" jdbcType="VARCHAR" />
    <result column="red_string4" property="redString4" jdbcType="VARCHAR" />
    <result column="red_string5" property="redString5" jdbcType="VARCHAR" />
    <result column="red_string6" property="redString6" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="company_image_type" property="companyImageType" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="CompanyImages_Column_List" >
    id, disable, delete_flag, red_string1, red_string2, red_string3, red_string4, red_string5, 
    red_string6, company_id, company_image_type, name, image_url, sort, remark
  </sql>
  <insert id="insert" parameterType="com.sida.dcloud.operation.po.CompanyImages" >
    insert into company_images (id, disable, delete_flag, red_string1, red_string2, red_string3, 
      red_string4, red_string5, red_string6, company_id, company_image_type, 
      name, image_url, sort, remark)
    values (#{id}, #{disable}, #{deleteFlag}, #{redString1}, #{redString2}, #{redString3}, 
      #{redString4}, #{redString5}, #{redString6}, #{companyId}, #{companyImageType}, 
      #{name}, #{imageUrl}, #{sort}, #{remark})
  </insert>
  <insert id="insertSelective" parameterType="com.sida.dcloud.operation.po.CompanyImages" >
    insert into company_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="disable != null" >
        disable,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="redString1 != null" >
        red_string1,
      </if>
      <if test="redString2 != null" >
        red_string2,
      </if>
      <if test="redString3 != null" >
        red_string3,
      </if>
      <if test="redString4 != null" >
        red_string4,
      </if>
      <if test="redString5 != null" >
        red_string5,
      </if>
      <if test="redString6 != null" >
        red_string6,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyImageType != null" >
        company_image_type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="disable != null" >
        #{disable},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag},
      </if>
      <if test="redString1 != null" >
        #{redString1},
      </if>
      <if test="redString2 != null" >
        #{redString2},
      </if>
      <if test="redString3 != null" >
        #{redString3},
      </if>
      <if test="redString4 != null" >
        #{redString4},
      </if>
      <if test="redString5 != null" >
        #{redString5},
      </if>
      <if test="redString6 != null" >
        #{redString6},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="companyImageType != null" >
        #{companyImageType},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl},
      </if>
      <if test="sort != null" >
        #{sort},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  <sql id="Where_Condition" >
    <where >
      <if test="id != null and id != ''" >
        id = #{id}
      </if>
      <if test="disable != null" >
        AND disable = #{disable}
      </if>
      <if test="deleteFlag != null" >
        AND delete_flag = #{deleteFlag}
      </if>
      <if test="redString1 != null and redString1 != ''" >
        AND red_string1 = #{redString1}
      </if>
      <if test="redString2 != null and redString2 != ''" >
        AND red_string2 = #{redString2}
      </if>
      <if test="redString3 != null and redString3 != ''" >
        AND red_string3 = #{redString3}
      </if>
      <if test="redString4 != null and redString4 != ''" >
        AND red_string4 = #{redString4}
      </if>
      <if test="redString5 != null and redString5 != ''" >
        AND red_string5 = #{redString5}
      </if>
      <if test="redString6 != null and redString6 != ''" >
        AND red_string6 = #{redString6}
      </if>
      <if test="companyId != null and companyId != ''" >
        AND company_id = #{companyId}
      </if>
      <if test="companyImageType != null and companyImageType != ''" >
        AND company_image_type = #{companyImageType}
      </if>
      <if test="name != null and name != ''" >
        AND name = #{name}
      </if>
      <if test="imageUrl != null and imageUrl != ''" >
        AND image_url = #{imageUrl}
      </if>
      <if test="sort != null" >
        AND sort = #{sort}
      </if>
      <if test="remark != null and remark != ''" >
        AND remark = #{remark}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.sida.dcloud.operation.po.CompanyImages" resultMap="CompanyImagesResultMap" >
    select 
    <include refid="CompanyImages_Column_List" />
    from company_images
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update company_images
    <set >
      <if test="po.id != null" >
        id = #{po.id},
      </if>
      <if test="po.disable != null" >
        disable = #{po.disable},
      </if>
      <if test="po.deleteFlag != null" >
        delete_flag = #{po.deleteFlag},
      </if>
      <if test="po.redString1 != null" >
        red_string1 = #{po.redString1},
      </if>
      <if test="po.redString2 != null" >
        red_string2 = #{po.redString2},
      </if>
      <if test="po.redString3 != null" >
        red_string3 = #{po.redString3},
      </if>
      <if test="po.redString4 != null" >
        red_string4 = #{po.redString4},
      </if>
      <if test="po.redString5 != null" >
        red_string5 = #{po.redString5},
      </if>
      <if test="po.redString6 != null" >
        red_string6 = #{po.redString6},
      </if>
      <if test="po.companyId != null" >
        company_id = #{po.companyId},
      </if>
      <if test="po.companyImageType != null" >
        company_image_type = #{po.companyImageType},
      </if>
      <if test="po.name != null" >
        name = #{po.name},
      </if>
      <if test="po.imageUrl != null" >
        image_url = #{po.imageUrl},
      </if>
      <if test="po.sort != null" >
        sort = #{po.sort},
      </if>
      <if test="po.remark != null" >
        remark = #{po.remark},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>
</mapper>