<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sida.dcloud.training.dao.AudioSimulatorMapper" >
  <resultMap id="AudioSimulatorResultMap" type="com.sida.dcloud.training.po.AudioSimulator" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_user" property="updatedUser" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="disable" property="disable" jdbcType="BIT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="red_string1" property="redString1" jdbcType="VARCHAR" />
    <result column="red_string2" property="redString2" jdbcType="VARCHAR" />
    <result column="red_string3" property="redString3" jdbcType="VARCHAR" />
    <result column="red_string4" property="redString4" jdbcType="VARCHAR" />
    <result column="red_string5" property="redString5" jdbcType="VARCHAR" />
    <result column="red_string6" property="redString6" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="audio_url" property="audioUrl" jdbcType="VARCHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="AudioSimulatorVoResultMap" type="com.sida.dcloud.training.vo.AudioSimulatorVo" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="audio_url" property="audioUrl" jdbcType="VARCHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="AudioSimulator_Column_List" >
    id, created_user, created_at, updated_user, org_id, last_updated, disable, delete_flag, 
    red_string1, red_string2, red_string3, red_string4, red_string5, red_string6, name, 
    code, subject, sort, audio_url, icon_url, remark
  </sql>
  <insert id="insert" parameterType="com.sida.dcloud.training.po.AudioSimulator" >
    insert into audio_simulator (id, created_user, created_at, updated_user, org_id, last_updated, 
      disable, delete_flag, red_string1, red_string2, red_string3, red_string4, 
      red_string5, red_string6, name, code, subject, sort, audio_url, 
      icon_url, remark)
    values (#{id}, #{createdUser}, #{createdAt}, #{updatedUser}, #{orgId}, #{lastUpdated}, 
      #{disable}, #{deleteFlag}, #{redString1}, #{redString2}, #{redString3}, #{redString4}, 
      #{redString5}, #{redString6}, #{name}, #{code}, #{subject}, #{sort}, #{audioUrl}, 
      #{iconUrl}, #{remark})
  </insert>
  <insert id="insertSelective" parameterType="com.sida.dcloud.training.po.AudioSimulator" >
    insert into audio_simulator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedUser != null" >
        updated_user,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="disable != null" >
        disable,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="redString1 != null" >
        red_string1,
      </if>
      <if test="redString2 != null" >
        red_string2,
      </if>
      <if test="redString3 != null" >
        red_string3,
      </if>
      <if test="redString4 != null" >
        red_string4,
      </if>
      <if test="redString5 != null" >
        red_string5,
      </if>
      <if test="redString6 != null" >
        red_string6,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="audioUrl != null" >
        audio_url,
      </if>
      <if test="iconUrl != null" >
        icon_url,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdUser != null" >
        #{createdUser},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedUser != null" >
        #{updatedUser},
      </if>
      <if test="orgId != null" >
        #{orgId},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated},
      </if>
      <if test="disable != null" >
        #{disable},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag},
      </if>
      <if test="redString1 != null" >
        #{redString1},
      </if>
      <if test="redString2 != null" >
        #{redString2},
      </if>
      <if test="redString3 != null" >
        #{redString3},
      </if>
      <if test="redString4 != null" >
        #{redString4},
      </if>
      <if test="redString5 != null" >
        #{redString5},
      </if>
      <if test="redString6 != null" >
        #{redString6},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="subject != null" >
        #{subject},
      </if>
      <if test="sort != null" >
        #{sort},
      </if>
      <if test="audioUrl != null" >
        #{audioUrl},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  <sql id="Where_Condition" >
    <where >
      delete_flag = 0
      <if test="po.id != null and po.id != ''" >
        and id = #{po.id}
      </if>
      <if test="po.createdUser != null and po.createdUser != ''" >
        AND created_user = #{po.createdUser}
      </if>
      <if test="po.createdAt != null" >
        AND created_at = #{po.createdAt}
      </if>
      <if test="po.updatedUser != null and po.updatedUser != ''" >
        AND updated_user = #{po.updatedUser}
      </if>
      <if test="po.orgId != null and po.orgId != ''" >
        AND org_id = #{po.orgId}
      </if>
      <if test="po.lastUpdated != null" >
        AND last_updated = #{po.lastUpdated}
      </if>
      <if test="po.disable != null" >
        AND disable = #{po.disable}
      </if>
      <if test="po.deleteFlag != null" >
        AND delete_flag = #{po.deleteFlag}
      </if>
      <if test="po.redString1 != null and po.redString1 != ''" >
        AND red_string1 = #{po.redString1}
      </if>
      <if test="po.redString2 != null and po.redString2 != ''" >
        AND red_string2 = #{po.redString2}
      </if>
      <if test="po.redString3 != null and po.redString3 != ''" >
        AND red_string3 = #{po.redString3}
      </if>
      <if test="po.redString4 != null andpo.redString4 != ''" >
        AND red_string4 = #{po.redString4}
      </if>
      <if test="po.redString5 != null and po.redString5 != ''" >
        AND red_string5 = #{po.redString5}
      </if>
      <if test="po.redString6 != null and po.redString6 != ''" >
        AND red_string6 = #{po.redString6}
      </if>
      <if test="po.name != null and po.name != ''" >
        AND name = #{po.name}
      </if>
      <if test="po.code != null and po.code != ''" >
        AND code = #{po.code}
      </if>
      <if test="po.subject != null and po.subject != ''" >
        AND subject = #{po.subject}
      </if>
      <if test="po.sort != null" >
        AND sort = #{po.sort}
      </if>
      <if test="po.audioUrl != null and po.audioUrl != ''" >
        AND audio_url = #{po.audioUrl}
      </if>
      <if test="po.iconUrl != null and po.iconUrl != ''" >
        AND icon_url = #{po.iconUrl}
      </if>
      <if test="po.remark != null and po.remark != ''" >
        AND remark = #{po.remark}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.sida.dcloud.training.po.AudioSimulator" resultMap="AudioSimulatorResultMap" >
    select 
    <include refid="AudioSimulator_Column_List" />
    from audio_simulator
    <include refid="Where_Condition" />
    <if test="po.orderField != null and po.orderField != ''" >
      ORDER BY ${po.orderField}
      <if test="po.orderString != null and po.orderString != ''" >
         ${po.orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update audio_simulator
    <set >
      <if test="po.id != null" >
        id = #{po.id},
      </if>
      <if test="po.createdUser != null" >
        created_user = #{po.createdUser},
      </if>
      <if test="po.createdAt != null" >
        created_at = #{po.createdAt},
      </if>
      <if test="po.updatedUser != null" >
        updated_user = #{po.updatedUser},
      </if>
      <if test="po.orgId != null" >
        org_id = #{po.orgId},
      </if>
      <if test="po.lastUpdated != null" >
        last_updated = #{po.lastUpdated},
      </if>
      <if test="po.disable != null" >
        disable = #{po.disable},
      </if>
      <if test="po.deleteFlag != null" >
        delete_flag = #{po.deleteFlag},
      </if>
      <if test="po.redString1 != null" >
        red_string1 = #{po.redString1},
      </if>
      <if test="po.redString2 != null" >
        red_string2 = #{po.redString2},
      </if>
      <if test="po.redString3 != null" >
        red_string3 = #{po.redString3},
      </if>
      <if test="po.redString4 != null" >
        red_string4 = #{po.redString4},
      </if>
      <if test="po.redString5 != null" >
        red_string5 = #{po.redString5},
      </if>
      <if test="po.redString6 != null" >
        red_string6 = #{po.redString6},
      </if>
      <if test="po.name != null" >
        name = #{po.name},
      </if>
      <if test="po.code != null" >
        code = #{po.code},
      </if>
      <if test="po.subject != null" >
        subject = #{po.subject},
      </if>
      <if test="po.sort != null" >
        sort = #{po.sort},
      </if>
      <if test="po.audioUrl != null" >
        audio_url = #{po.audioUrl},
      </if>
      <if test="po.iconUrl != null" >
        icon_url = #{po.iconUrl},
      </if>
      <if test="po.remark != null" >
        remark = #{po.remark},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>


  <!--  -->

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update audio_simulator set delete_flag = 1 where id = #{id}
  </delete>
  <delete id="deleteByPrimaryKeys" parameterType="java.lang.String" >
    update audio_simulator set delete_flag = 1 where id in (${ids})
  </delete>

  <select id="findVoList" parameterType="com.sida.dcloud.training.po.AudioSimulator" resultMap="AudioSimulatorResultMap">
    select id,name,audio_url,icon_url,created_user,created_at,sort
    from audio_simulator
    <where>
      delete_flag = 0
      <if test="po.id != null and po.id != ''" >
        and id = #{po.id}
      </if>
      <if test="po.name != null and po.name != ''" >
        and instr(name, #{po.name})&gt;0
      </if>
    </where>
    <if test="po.orderField != null and po.orderField != ''">
      ORDER BY ${po.orderField}
      <if test="po.orderString != null and po.orderString != ''">
        ${po.orderString}
      </if>
    </if>
  </select>

  <select id="checkMultiCountByUnique" parameterType="com.sida.dcloud.training.po.AudioSimulator" resultType="int">
    select count(0) from audio_simulator
    <where>
      delete_flag = 0 and (1=2
      <if test="po.name != null and po.name != ''">
        or name=#{po.name}
      </if>
      <if test="po.code != null and po.code != ''">
        or code=#{po.code}
      </if>)
      <if test="po.id != null and po.id != ''">
        <![CDATA[
        and id <> #{po.id}
        ]]>
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="AudioSimulatorResultMap" parameterType="java.lang.String" >
    select
    <include refid="AudioSimulator_Column_List" />
    from audio_simulator
    where id = #{id} and delete_flag = 0
  </select>
</mapper>