<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sida.dcloud.training.dao.ExamAnswerTrackMapper" >
  <resultMap id="ExamAnswerTrackResultMap" type="com.sida.dcloud.training.po.ExamAnswerTrack" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="exam_id" property="examId" jdbcType="VARCHAR" />
    <result column="exercise_id" property="exerciseId" jdbcType="VARCHAR" />
    <result column="right_answer" property="rightAnswer" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="that_time" property="thatTime" jdbcType="TIMESTAMP" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
  </resultMap>
  <sql id="ExamAnswerTrack_Column_List" >
    id, user_id, exam_id, exercise_id, right_answer, answer, that_time, sequence
  </sql>
  <select id="selectByPrimaryKey" resultMap="ExamAnswerTrackResultMap" parameterType="java.lang.String" >
    select
    <include refid="ExamAnswerTrack_Column_List" />
    from exam_answer_track
    where id = #{id}
  </select>
  <insert id="insert" parameterType="com.sida.dcloud.training.po.ExamAnswerTrack" >
    insert into exam_answer_track (id, user_id, exam_id, exercise_id, right_answer, answer, that_time, 
      sequence)
    values (#{id}, #{userId}, #{examId}, #{exerciseId}, #{rightAnswer}, #{answer}, #{thatTime}, 
      #{sequence})
  </insert>
  <insert id="insertSelective" parameterType="com.sida.dcloud.training.po.ExamAnswerTrack" >
    insert into exam_answer_track
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="examId != null" >
        exam_id,
      </if>
      <if test="exerciseId != null" >
        exercise_id,
      </if>
      <if test="rightAnswer != null" >
        right_answer,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="thatTime != null" >
        that_time,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="examId != null" >
        #{examId},
      </if>
      <if test="exerciseId != null" >
        #{exerciseId},
      </if>
      <if test="rightAnswer != null" >
        #{rightAnswer},
      </if>
      <if test="answer != null" >
        #{answer},
      </if>
      <if test="thatTime != null" >
        #{thatTime},
      </if>
      <if test="sequence != null" >
        #{sequence},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sida.dcloud.training.po.ExamAnswerTrack" >
    update exam_answer_track
    <set >
      <if test="userId != null" >
        user_id = #{userId},
      </if>
      <if test="examId != null" >
        exam_id = #{examId},
      </if>
      <if test="exerciseId != null" >
        exercise_id = #{exerciseId},
      </if>
      <if test="rightAnswer != null" >
        right_answer = #{rightAnswer},
      </if>
      <if test="answer != null" >
        answer = #{answer},
      </if>
      <if test="thatTime != null" >
        that_time = #{thatTime},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sida.dcloud.training.po.ExamAnswerTrack" >
    update exam_answer_track
    set user_id = #{userId},
      exam_id = #{examId},
      exercise_id = #{exerciseId},
      right_answer = #{rightAnswer},
      answer = #{answer},
      that_time = #{thatTime},
      sequence = #{sequence}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      delete_flag = 0
      <if test="userId != null and userId != ''" >
        and user_id = #{userId}
      </if>
      <if test="examId != null and examId != ''" >
        AND exam_id = #{examId}
      </if>
      <if test="exerciseId != null and exerciseId != ''" >
        AND exercise_id = #{exerciseId}
      </if>
      <if test="rightAnswer != null and rightAnswer != ''" >
        AND right_answer = #{rightAnswer}
      </if>
      <if test="answer != null and answer != ''" >
        AND answer = #{answer}
      </if>
      <if test="thatTime != null" >
        AND that_time = #{thatTime}
      </if>
      <if test="sequence != null" >
        AND sequence = #{sequence}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.sida.dcloud.training.po.ExamAnswerTrack" resultMap="ExamAnswerTrackResultMap" >
    select 
    <include refid="ExamAnswerTrack_Column_List" />
    from exam_answer_track
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update exam_answer_track
    <set >
      <if test="po.userId != null" >
        user_id = #{po.userId},
      </if>
      <if test="po.examId != null" >
        exam_id = #{po.examId},
      </if>
      <if test="po.exerciseId != null" >
        exercise_id = #{po.exerciseId},
      </if>
      <if test="po.rightAnswer != null" >
        right_answer = #{po.rightAnswer},
      </if>
      <if test="po.answer != null" >
        answer = #{po.answer},
      </if>
      <if test="po.thatTime != null" >
        that_time = #{po.thatTime},
      </if>
      <if test="po.sequence != null" >
        sequence = #{po.sequence},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size &gt; 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!-- -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update exam_answer_track set delete_flag = 1 where id = #{id}
  </delete>
  <delete id="deleteByPrimaryKeys" parameterType="java.lang.String" >
    update exam_answer_track set delete_flag = 1 where id in (${ids})
  </delete>
  <delete id="deleteByExamId" parameterType="java.lang.String" >
    update exam_answer_track set delete_flag = 1 where exam_id = #{examId}
  </delete>

  <select id="selectByExamId" parameterType="java.lang.String" resultMap="ExamAnswerTrackResultMap">
    select
    <include refid="ExamAnswerTrack_Column_List" />
    from exam_answer_track
    where exam_id = #{examId}
  </select>

  <delete id="physicalDeleteByExamId" parameterType="java.lang.String">
    delete from exam_answer_track
    where exam_id = #{examId} and delete_flag = 1
  </delete>

  <insert id="insertPos" parameterType="java.util.List">
    insert into exam_answer_track
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="po.id != null" >
        id,
      </if>
      <if test="po.userId != null" >
        user_id,
      </if>
      <if test="po.examId != null" >
        exam_id,
      </if>
      <if test="po.exerciseId != null" >
        exercise_id,
      </if>
      <if test="po.rightAnswer != null" >
        right_answer,
      </if>
      <if test="po.answer != null" >
        answer,
      </if>
      <if test="po.thatTime != null" >
        that_time,
      </if>
      sequence
    </trim>
    values
    <foreach collection ="examAnswerTrackList" item="po" index= "index" separator =",">
      <trim prefix="(" suffix=")">
        <if test="po.id != null" >
          #{po.id},
        </if>
        <if test="po.userId != null" >
          #{po.userId},
        </if>
        <if test="po.examId != null" >
          #{po.examId},
        </if>
        <if test="po.exerciseId != null" >
          #{po.exerciseId},
        </if>
        <if test="po.rightAnswer != null" >
          #{po.rightAnswer},
        </if>
        <if test="po.answer != null" >
          #{po.answer},
        </if>
        <if test="po.thatTime != null" >
          #{po.thatTime},
        </if>
        <choose>
          <when test="po.sequence != null">
            #{po.sequence}
          </when>
          <otherwise>
            0
          </otherwise>
        </choose>
      </trim>
    </foreach>
  </insert>
</mapper>