<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sida.dcloud.training.dao.LightingStepsMapper">
  <resultMap id="LightingStepsResultMap" type="com.sida.dcloud.training.po.LightingSteps">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_user" jdbcType="VARCHAR" property="updatedUser" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
    <result column="disable" jdbcType="BIT" property="disable" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="red_string1" jdbcType="VARCHAR" property="redString1" />
    <result column="red_string2" jdbcType="VARCHAR" property="redString2" />
    <result column="red_string3" jdbcType="VARCHAR" property="redString3" />
    <result column="red_string4" jdbcType="VARCHAR" property="redString4" />
    <result column="red_string5" jdbcType="VARCHAR" property="redString5" />
    <result column="red_string6" jdbcType="VARCHAR" property="redString6" />
    <result column="lighting_simulator_id" jdbcType="VARCHAR" property="lightingSimulatorId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="urls" jdbcType="VARCHAR" property="urls" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="LightingSteps_Column_List">
    id, org_id, created_user, created_at, updated_user, last_updated, disable, delete_flag, 
    red_string1, red_string2, red_string3, red_string4, red_string5, red_string6, lighting_simulator_id, 
    title, sort, urls, answer, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="LightingStepsResultMap">
    select 
    <include refid="LightingSteps_Column_List" />
    from lighting_steps
    where id = #{id}
  </select>
  <insert id="insert" parameterType="com.sida.dcloud.training.po.LightingSteps">
    insert into lighting_steps (id, org_id, created_user, created_at, updated_user, last_updated, 
      disable, delete_flag, red_string1, red_string2, red_string3, red_string4, 
      red_string5, red_string6, lighting_simulator_id, title, sort, urls, answer, 
      remark)
    values (#{id}, #{orgId}, #{createdUser}, #{createdAt}, #{updatedUser}, #{lastUpdated}, 
      #{disable}, #{deleteFlag}, #{redString1}, #{redString2}, #{redString3}, #{redString4}, 
      #{redString5}, #{redString6}, #{lightingSimulatorId}, #{title}, #{sort}, #{urls}, #{answer}, 
      #{remark})
  </insert>
  <insert id="insertSelective" parameterType="com.sida.dcloud.training.po.LightingSteps">
    insert into lighting_steps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="createdUser != null">
        created_user,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedUser != null">
        updated_user,
      </if>
      <if test="lastUpdated != null">
        last_updated,
      </if>
      <if test="disable != null">
        disable,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="redString1 != null">
        red_string1,
      </if>
      <if test="redString2 != null">
        red_string2,
      </if>
      <if test="redString3 != null">
        red_string3,
      </if>
      <if test="redString4 != null">
        red_string4,
      </if>
      <if test="redString5 != null">
        red_string5,
      </if>
      <if test="redString6 != null">
        red_string6,
      </if>
      <if test="lightingSimulatorId != null">
        lighting_simulator_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="urls != null">
        urls,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="orgId != null">
        #{orgId},
      </if>
      <if test="createdUser != null">
        #{createdUser},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedUser != null">
        #{updatedUser},
      </if>
      <if test="lastUpdated != null">
        #{lastUpdated},
      </if>
      <if test="disable != null">
        #{disable},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag},
      </if>
      <if test="redString1 != null">
        #{redString1},
      </if>
      <if test="redString2 != null">
        #{redString2},
      </if>
      <if test="redString3 != null">
        #{redString3},
      </if>
      <if test="redString4 != null">
        #{redString4},
      </if>
      <if test="redString5 != null">
        #{redString5},
      </if>
      <if test="redString6 != null">
        #{redString6},
      </if>
      <if test="lightingSimulatorId != null">
        #{lightingSimulatorId},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="sort != null">
        #{sort},
      </if>
      <if test="urls != null">
        #{urls},
      </if>
      <if test="answer != null">
        #{answer},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sida.dcloud.training.po.LightingSteps">
    update lighting_steps
    <set>
      <if test="orgId != null">
        org_id = #{orgId},
      </if>
      <if test="createdUser != null">
        created_user = #{createdUser},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt},
      </if>
      <if test="updatedUser != null">
        updated_user = #{updatedUser},
      </if>
      <if test="lastUpdated != null">
        last_updated = #{lastUpdated},
      </if>
      <if test="disable != null">
        disable = #{disable},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag},
      </if>
      <if test="redString1 != null">
        red_string1 = #{redString1},
      </if>
      <if test="redString2 != null">
        red_string2 = #{redString2},
      </if>
      <if test="redString3 != null">
        red_string3 = #{redString3},
      </if>
      <if test="redString4 != null">
        red_string4 = #{redString4},
      </if>
      <if test="redString5 != null">
        red_string5 = #{redString5},
      </if>
      <if test="redString6 != null">
        red_string6 = #{redString6},
      </if>
      <if test="lightingSimulatorId != null">
        lighting_simulator_id = #{lightingSimulatorId},
      </if>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="sort != null">
        sort = #{sort},
      </if>
      <if test="urls != null">
        urls = #{urls},
      </if>
      <if test="answer != null">
        answer = #{answer},
      </if>
      <if test="remark != null">
        remark = #{remark},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sida.dcloud.training.po.LightingSteps">
    update lighting_steps
    set org_id = #{orgId},
      created_user = #{createdUser},
      created_at = #{createdAt},
      updated_user = #{updatedUser},
      last_updated = #{lastUpdated},
      disable = #{disable},
      delete_flag = #{deleteFlag},
      red_string1 = #{redString1},
      red_string2 = #{redString2},
      red_string3 = #{redString3},
      red_string4 = #{redString4},
      red_string5 = #{redString5},
      red_string6 = #{redString6},
      lighting_simulator_id = #{lightingSimulatorId},
      title = #{title},
      sort = #{sort},
      urls = #{urls},
      answer = #{answer},
      remark = #{remark}
    where id = #{id}
  </update>
  <sql id="Where_Condition">
    <where>
      delete_flag = 0
      <if test="orgId != null and orgId != ''">
        and org_id = #{orgId}
      </if>
      <if test="createdUser != null and createdUser != ''">
        AND created_user = #{createdUser}
      </if>
      <if test="createdAt != null">
        AND created_at = #{createdAt}
      </if>
      <if test="updatedUser != null and updatedUser != ''">
        AND updated_user = #{updatedUser}
      </if>
      <if test="lastUpdated != null">
        AND last_updated = #{lastUpdated}
      </if>
      <if test="disable != null">
        AND disable = #{disable}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag}
      </if>
      <if test="redString1 != null and redString1 != ''">
        AND red_string1 = #{redString1}
      </if>
      <if test="redString2 != null and redString2 != ''">
        AND red_string2 = #{redString2}
      </if>
      <if test="redString3 != null and redString3 != ''">
        AND red_string3 = #{redString3}
      </if>
      <if test="redString4 != null and redString4 != ''">
        AND red_string4 = #{redString4}
      </if>
      <if test="redString5 != null and redString5 != ''">
        AND red_string5 = #{redString5}
      </if>
      <if test="redString6 != null and redString6 != ''">
        AND red_string6 = #{redString6}
      </if>
      <if test="lightingSimulatorId != null and lightingSimulatorId != ''">
        AND lighting_simulator_id = #{lightingSimulatorId}
      </if>
      <if test="title != null and title != ''">
        AND title = #{title}
      </if>
      <if test="sort != null">
        AND sort = #{sort}
      </if>
      <if test="urls != null and urls != ''">
        AND urls = #{urls}
      </if>
      <if test="answer != null and answer != ''">
        AND answer = #{answer}
      </if>
      <if test="remark != null and remark != ''">
        AND remark = #{remark}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.sida.dcloud.training.po.LightingSteps" resultMap="LightingStepsResultMap">
    select 
    <include refid="LightingSteps_Column_List" />
    from lighting_steps
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''">
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''">
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective">
    update lighting_steps
    <set>
      <if test="po.orgId != null">
        org_id = #{po.orgId},
      </if>
      <if test="po.createdUser != null">
        created_user = #{po.createdUser},
      </if>
      <if test="po.createdAt != null">
        created_at = #{po.createdAt},
      </if>
      <if test="po.updatedUser != null">
        updated_user = #{po.updatedUser},
      </if>
      <if test="po.lastUpdated != null">
        last_updated = #{po.lastUpdated},
      </if>
      <if test="po.disable != null">
        disable = #{po.disable},
      </if>
      <if test="po.deleteFlag != null">
        delete_flag = #{po.deleteFlag},
      </if>
      <if test="po.redString1 != null">
        red_string1 = #{po.redString1},
      </if>
      <if test="po.redString2 != null">
        red_string2 = #{po.redString2},
      </if>
      <if test="po.redString3 != null">
        red_string3 = #{po.redString3},
      </if>
      <if test="po.redString4 != null">
        red_string4 = #{po.redString4},
      </if>
      <if test="po.redString5 != null">
        red_string5 = #{po.redString5},
      </if>
      <if test="po.redString6 != null">
        red_string6 = #{po.redString6},
      </if>
      <if test="po.lightingSimulatorId != null">
        lighting_simulator_id = #{po.lightingSimulatorId},
      </if>
      <if test="po.title != null">
        title = #{po.title},
      </if>
      <if test="po.sort != null">
        sort = #{po.sort},
      </if>
      <if test="po.urls != null">
        urls = #{po.urls},
      </if>
      <if test="po.answer != null">
        answer = #{po.answer},
      </if>
      <if test="po.remark != null">
        remark = #{po.remark},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size &gt; 0">
      <foreach close=")" collection="ids" item="listItem" open="or id in(" separator=",">
        #{listItem}
      </foreach>
    </if>
  </update>

  <!-- -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update lighting_steps set delete_flag = 1 where id = #{id}
  </delete>
  <delete id="deleteByPrimaryKeys" parameterType="java.lang.String" >
    update lighting_steps set delete_flag = 1 where id in (${ids})
  </delete>
  <delete id="deleteByLightingSimulatorId" parameterType="java.lang.String" >
    update lighting_steps set delete_flag = 1 where lighting_simulator_id = #{lightingSimulatorId}
  </delete>

  <select id="selectByLightingSimulatorId" parameterType="java.lang.String" resultMap="LightingStepsResultMap">
    select
    <include refid="LightingSteps_Column_List" />
    from lighting_steps
    where lighting_simulator_id = #{lightingSimulatorId}
  </select>

  <select id="selectLightingSimulatorSizeByStringIds" parameterType="java.lang.String" resultType="int">
    select count(0) from lighting_steps
    <where>
      lighting_simulator_id in (${stringIds}) and delete_flag = 0
    </where>
  </select>

  <delete id="physicalDeleteByLightingSimulatorId" parameterType="java.lang.String">
    delete from lighting_steps
    where lighting_simulator_id = #{lightingSimulatorId} and delete_flag = 1
  </delete>

  <insert id="insertPos" parameterType="java.util.List">
    insert into lighting_steps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="createdUser != null">
        created_user,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedUser != null">
        updated_user,
      </if>
      <if test="lastUpdated != null">
        last_updated,
      </if>
      <if test="disable != null">
        disable,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="redString1 != null">
        red_string1,
      </if>
      <if test="redString2 != null">
        red_string2,
      </if>
      <if test="redString3 != null">
        red_string3,
      </if>
      <if test="redString4 != null">
        red_string4,
      </if>
      <if test="redString5 != null">
        red_string5,
      </if>
      <if test="redString6 != null">
        red_string6,
      </if>
      <if test="lightingSimulatorId != null">
        lighting_simulator_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="urls != null">
        urls,
      </if>
      <if test="answer != null">
        answer,
      </if>
      remark
    </trim>
    values
    <foreach collection ="lightingStepsList" item="po" index= "index" separator =",">
      <trim prefix="(" suffix=")">
        <if test="po.id != null">
          #{po.id},
        </if>
        <if test="po.orgId != null">
          #{po.orgId},
        </if>
        <if test="po.createdUser != null">
          #{po.createdUser},
        </if>
        <if test="po.createdAt != null">
          #{po.createdAt},
        </if>
        <if test="po.updatedUser != null">
          #{po.updatedUser},
        </if>
        <if test="po.lastUpdated != null">
          #{po.lastUpdated},
        </if>
        <if test="po.disable != null">
          #{po.disable},
        </if>
        <if test="po.deleteFlag != null">
          #{deleteFlag},
        </if>
        <if test="po.redString1 != null">
          #{po.redString1},
        </if>
        <if test="po.redString2 != null">
          #{po.redString2},
        </if>
        <if test="po.redString3 != null">
          #{po.redString3},
        </if>
        <if test="po.redString4 != null">
          #{po.redString4},
        </if>
        <if test="po.redString5 != null">
          #{po.redString5},
        </if>
        <if test="po.redString6 != null">
          #{po.redString6},
        </if>
        <if test="po.lightingSimulatorId != null">
          #{po.lightingSimulatorId},
        </if>
        <if test="po.title != null">
          #{po.title},
        </if>
        <if test="po.sort != null">
          #{po.sort},
        </if>
        <if test="po.urls != null">
          #{po.urls},
        </if>
        <if test="po.answer != null">
          #{po.answer},
        </if>
        <choose>
          <when test="po.remark != null">
            #{po.remark}
          </when>
          <otherwise>
            ''
          </otherwise>
        </choose>
      </trim>
    </foreach>
  </insert>
</mapper>